<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-
instance" xsi:noNamespaceSchemaLocation=
    "urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Magenest_Movie::movie"
            title="Movie"
            module="Magenest_Movie"
            sortOrder="100"
            resource="Magenest_Movie::movie"
        />
        <add
            id="Magenest_Movie::movie_sub"
            title="Movie"
            module="Magenest_Movie"
            sortOrder="100"
            parent="Magenest_Movie::movie"
            resource="Magenest_Movie::movie"
        />
        <add
            id="Magenest_Movie::movie_list"
            title="Movie List"
            module="Magenest_Movie"
            sortOrder="100"
            parent="Magenest_Movie::movie_sub"
            action="movie/movie/index"
            resource="Magenest_Movie::movie"
        />
    </menu>
</config>
