<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <movie>
            <excercises>
                <text_field>I'm a text field</text_field>
                <yes_no>1</yes_no>
                <custom_select>2</custom_select>
            </excercises>
        </movie>
    </default>
</config>
