<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Khai báo Grid Collection -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="movie_listing_data_source" xsi:type="string">
                    Magenest\Movie\Model\ResourceModel\Movie\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="magenest_movie_validate_phone_number"
                type="Magenest\Movie\Plugin\CustomerTelephonePlugin"
                sortOrder="10"/>
    </type>
</config>
