<?xml version="1.0"?>
<!--
    DI Configuration - Frontend Plugins

    Khai báo các plugins để customize checkout
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Plugin fix product name & image trong minicart -->
    <type name="Magento\Checkout\CustomerData\ItemPool">
        <plugin name="minicart_fix_name"
                type="Magenest\Movie\Plugin\FixProductNameAndImg"
                sortOrder="10"/>
    </type>

    <!--
        Plugin: Thêm Vietnam Region field vào checkout form

        Target: Magento\Checkout\Block\Checkout\LayoutProcessor
        Method: process() - build jsLayout từ XML + EAV
        Plugin: afterProcess() - thêm vn_region field config
    -->
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="checkout_layout_processor_add_vn_region"
                type="Magenest\Movie\Plugin\Checkout\LayoutProcessorPlugin"
                sortOrder="100"
                disabled="false"/>
    </type>

    <!--
        Plugin: Thêm attribute is_b2b vào Customer Section (Private Content)

        Target: Magento\Customer\CustomerData\Customer
        - Class này generate dữ liệu cho customer section
        - Method getSectionData(): Return array data lưu vào localStorage

        Plugin: afterGetSectionData()
        - Intercept sau khi getSectionData() chạy xong
        - Thêm field 'is_b2b' vào array result
        - JavaScript có thể đọc customerData.get('customer')().is_b2b

        WHY?
        - Mặc định Magento chỉ load các attribute cơ bản (firstname, lastname, ...)
        - Custom attribute (is_b2b) KHÔNG tự động có trong section data
        - Phải dùng plugin để thêm vào
    -->
<!--    <type name="Magento\Customer\CustomerData\Customer">-->
<!--        <plugin name="add_is_b2b_to_customer_section"-->
<!--                type="Magenest\Movie\Plugin\CustomerData\AddIsB2bToCustomerSection"-->
<!--                sortOrder="10"-->
<!--                disabled="false"/>-->
<!--    </type>-->
</config>

