<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="200">
            <label>Magenest</label>
        </tab>
        <section id="promo_popup" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Promo Popup</label>
            <tab>magenest</tab>
            <resource>Magenest_UiKnockout::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Promotion Popup Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Popup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="promo_message" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Promotion Message (HTML allowed)</label>
                </field>
                <field id="target_groups" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show for Customer Groups</label>
                    <source_model>Magento\Customer\Model\Config\Source\Group</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
